old/xsd/Convenient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="cs/convenient"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xs:complexType name="SizeType">
        <xs:sequence>
            <xs:element name="Width" type="xs:unsignedLong"></xs:element>
            <xs:element name="Height" type="xs:unsignedLong"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>