xsd/SimulatedAnnealing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="cs/simulatedAnnealing"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:complexType name="SimulatedAnnealingType">
        <xs:sequence>
            <xs:element name="InitialTemperature" type="xs:double"></xs:element>
            <xs:element name="DecreaseCoefficient" type="xs:double"></xs:element>
        </xs:sequence>
            
    </xs:complexType>
</xs:schema>